nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
	div.container-fluid
		div.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', 
				data-target='#bs-example-navbar-collapse-1')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="#", ng-click='photoRoute()') #{settings.title}
		div.collapse.navbar-collapse(id='bs-example-navbar-collapse-1')
			ul.nav.navbar-nav
				li: a(href="#", ng-click='photoRoute()') Photos
				li.dropdown
					a.dropdown-toggle(data-toggle='dropdown')
						span Artists
						b.caret
					ul.dropdown-menu
						form
							li: a: input.form-control.input-sm(type='text', 
								ng-model='artistsearch', placeholder='Artists')
						li.divider
						li: a(href='#',
							ng-repeat="artist in artists | orderBy:'name' | filter:artistsearch | limitTo:5",
							ng-click="artistRoute(artist.id)")
							span {{artist.name}}
				li.dropdown
					a.dropdown-toggle(data-toggle='dropdown')
						span Collections
						b.caret
					ul.dropdown-menu
						form
							li: a: input.form-control.input-sm(type='text', 
								ng-model='collsearch', placeholder='Collections')
						li.divider
						li: a(href='#', ng-click='collectionRoute(coll.id)', 
							ng-repeat="coll in colls | orderBy:'name' | filter:collsearch | limitTo:5") 
							span {{coll.name}} 
				li.dropdown
					a.dropdown-toggle(data-toggle='dropdown')
						span Tags
						b.caret
					ul.dropdown-menu
						form
							li: a: input.form-control.input-sm(type='text', 
								ng-model='tagsearch', placeholder='Tags')
						li.divider
						li: a(href='#', ng-click='tagRoute(tag.id)', 
							ng-repeat="tag in tags | orderBy:'name' | filter:tagsearch | limitTo:5") 
							span {{tag.name}} 
			ul.nav.navbar-nav.navbar-right
				li.dropdown
					a.dropdown-toggle(data-toggle='dropdown')
						span Login
						b.caret
					ul.dropdown-menu
						form
							li: a: input.form-control.input-sm(type='text',
								ng-model='auth.email', placeholder='Email')
							li.divider
							li: a: input.form-control.input-sm(type='password',
								ng-model='auth.password', placeholder='Password')
							li.divider
							li: a: button.btn.btn-primary.pull-right(ng-click='auth.submit()') Login
				li.dropdown
					a.dropdown-toggle(data-toggle='dropdown')
						span Register
						b.caret
					ul.dropdown-menu
						li: a: p Register as an artist.
						form
							li.divider
							li: a: input.form-control.input-sm(type='text',
								ng-model='reg.name', placeholder='Name')
							li.divider
							li: a: input.form-control.input-sm(type='text',
								ng-model='reg.email', placeholder='Email')
							li.divider
							li: a: input.form-control.input-sm(type='password',
								ng-model='reg.pass', placeholder='Password')
							li.divider
							li: a: input.form-control.input-sm(type='password',
								ng-model='reg.confPass', placeholder='Password Confirmation')
							li.divider
							li: a: button.btn.btn-primary.pull-right(ng-click='reg.submit()') Register

